*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:  #020617;
    color: #fff;
}

.wrapper {
    margin: 10vh;
}

#hero {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center-piece {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info {
    text-align: center;
}

.info h1{
    font-size: 5vw;
}

.info h2{
    font-size: 3vw;
}

#anim {
    position: absolute;
    z-index: -1;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cube {
    width: 40vw;
    height: 40vw;
}

.contact_me{
    width: 2rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 3%;
    top: calc(50% - 1rem);
    gap: 5px;
}

.icon{
    min-width: 25px;
    width: 2vw;
    aspect-ratio: 1/1;
}
