*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #fff;
}

.hero {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10%;
}

.info h1{
    font-size: 10vw;
}

.info h2{
    font-size: 5vw;
}

#anim {
    position: absolute;
    transform: translate(45vw, -28vw);
    z-index: -1;
    margin: auto;
}

#cube {
    width: 35vw;
    height: 35vw;
}

.contact_me{
    width: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 10%;
    bottom: 0;
    gap: 5px;
}

.icon{
    min-width: 25px;
    width: 2vw;
    aspect-ratio: 1/1;
}
